@model PrestitiBibliotecaMVC.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collocazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collocazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Copie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Copie)
        </dd>
    </dl>
</div>

<h4>Prestiti</h4>
@if (Model.Prestiti.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Studente</th>
                <th>Data Prestito</th>
                <th>Data Restituzione</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prestito in Model.Prestiti)
            {
                <tr>
                    <td>@prestito.MatricolaNavigation.Nome @prestito.MatricolaNavigation.Cognome</td>
                    <td>@prestito.DataPrestito.ToShortDateString()</td>
                    <td>@(prestito.DataRestituzione?.ToShortDateString() ?? "-")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nessun prestito.</p>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codice">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
