@model IEnumerable<PrestitiBibliotecaMVC.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anno)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Classificazione)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Copie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Autore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anno)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Classificazione)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Copie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codice">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codice">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codice">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
